<% yield p = np %>

<% method ||= nil %>
<% active ||= request.path == url %>

<%= send (method ? :button_to : :link_to), url, class: "block group hover:text-gray-900 hover:no-underline hover-indent-child #{'bg-gray-100' if active} text-gray-700 px-2 py-2 rounded-md", method: method do %>
  <div class="inline-block indent-child flex items-center">
    <!-- Heroicon name: home -->
    <% if p.content_for? :icon %>
      <span class="mr-3 h-6 w-6 text-center text-gray-700 text-xl leading-6">
        <%= p.content_for :icon %>
      </span>
    <% end %>
    <%= label %>
  </div>
<% end %>
